/* Estilo general */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilo del marcador */
.marcador {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}



.container {
    display: flex;
    justify-content: space-between; /* Para que los contenedores estén uno al lado del otro */
    align-items: center;
    max-width: 900px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 15px;
}

.game-info {
    text-align: center;
    max-width: 600px;
}

.game-stats {
    text-align: left;/* Alinea las estadísticas a la izquierda */
    max-width: 300px; /* Establece una altura máxima para el contenedor de estadísticas */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

.game-stats p {
    margin: 5px 0; /* Agrega un espacio entre cada estadística */
}

.game-stats:empty {
    display: none;
}

h1 {
    color: #333;
}

/* Estilo de la imagen */
#imagen {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

/* Estilo del mensaje de finalización */
h4 {
    color: #FF0000;
}

#tiempo-restante {
    color: #FF0000;
}

/* Estilo del formulario */
form {
    margin: 20px 0;
}

/* Estilo de los botones */
button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
.botones-especiales {
    display: flex;
    justify-content: space-between; /* Para que los contenedores estén uno al lado del otro */
    align-items: center;
}
.especial {
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

/* Estilo del teclado */
#teclado {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 400px;
}

.tecla {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

.letra-oculta {
    width: 40px;
    height: 40px;
    opacity: 0;
    pointer-events: none;
}