/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: block;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.content {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.start-button {
    width: 200px;
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}
.button-center {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
}

.button-center .start-button {
    background-color: #FF0000; /* Cambia el color de fondo al rojo para el botón de cerrar sesión */
    width: 200px; /* Ajusta el ancho del botón según tus preferencias */
    height: 60px; /* Ajusta la altura del botón según tus preferencias */
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    color: #fff; /* Cambia el color del texto a blanco */
}

.green {
    background-color: #4CAF50;
    color: #fff;
}

.blue {
    background-color: #0074D9;
    color: #fff;
}

.start-button:hover {
    background-color: #45a049;
}

